<div class="page">
  <div class="header">
    <div>
      <h1>Escalas</h1>
      <p>Lista de escalas cadastradas.</p>
    </div>

    <button class="btn-back" routerLink="/">← Voltar</button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Porto</th>
          <th>Status</th>
          <th>ETA</th>
          <th>ETB</th>
          <th>ETD</th>
          <th>Manifestos</th>
        </tr>
      </thead>

      <tbody *ngIf="escalas.length === 0">
        <tr>
          <td colspan="7" class="empty">
            Nenhuma escala encontrada.
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="escalas.length > 0">
        <tr *ngFor="let escala of escalas">


          <td>{{ escala.porto }}</td>

          <td>
            <span
              class="badge"
              [ngClass]="getStatusClass(escala.status)"
            >
              {{ getStatusDescricao(escala.status) }}
            </span>
          </td>

          <td>
            {{ escala.eta | date:'dd/MM/yyyy HH:mm' }}
          </td>

          <td>
            {{ escala.etb ? (escala.etb | date:'dd/MM/yyyy HH:mm') : '-' }}
          </td>

          <td>
            {{ escala.etd ? (escala.etd | date:'dd/MM/yyyy HH:mm') : '-' }}
          </td>

          <td>
            <div
              class="manifestos"
              *ngIf="escala.manifestos; else semManifesto"
            >
              <span
                class="manifesto-badge"
                *ngFor="let manifesto of escala.manifestos"
              >
                {{ manifesto.numero }}
              </span>
            </div>

            <ng-template #semManifesto>
              <span class="empty-value">-</span>
            </ng-template>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="pagination" *ngIf="escalas.length > 0">
      <button 
        class="page-btn"
        (click)="previousPage()" 
        [disabled]="page === 1">
        ← Anterior
      </button>

      <span class="pagination-info">
        Página {{ page }} de {{ totalPages }}
      </span>

      <button 
        class="page-btn primary"
        (click)="nextPage()" 
        [disabled]="page >= totalPages">
        Próxima →
      </button>
    </div>

  </div>
</div>